<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SourcePath" value="K:\DCIM\100CANON"/>
    <add key="DestPath" value="D:\MyDocuments2\Pictures\Photos\"/>
    <add key="AdobeDngConvertFilePath" value="C:\Program Files\Adobe\Adobe DNG Converter\Adobe DNG Converter.exe"/>
    <add key="TempPath" value="C:\t\m50\"/>
  </appSettings>
</configuration>